.recruit_div{}
.recruit_div div{
	width: 560px;
	float: left;
	margin-left: 20px;
	margin-bottom: 50px;
}

.recruit_div div:nth-child(1){
	margin-left: 0;
}
.recruit_div div h3{
	font-size: 18px;
	margin:10px 0;
}
.recruit_div div h4{
	font-size: 16px;
	margin:6px 0;
}
.recruit_div div p{
	line-height: 20px;
}
